<div class="container-xxxl">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/images/photo.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="name">
      <h1>Ana Emilia Paredes</h1>
      <h4>Full Stack Developer Jr</h4>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding: 35px 10px 20px 15px;">
      <span>
        <h3>Acerca de mí</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Nihil accusamus non quae nisi cupiditate,
          maiores atque nostrum ducimus veritatis ad eius.
          Deleniti perferendis possimus nisi sunt labore facilis.
        </p>
      </span>
    </div>
  </div>
</div>