.container-xxxl {
  padding: 15px 30px 15px 30px;
  background-color: #7fffd4a1;
  align-items: center;
}

#name {
  font-weight: bold;
  margin-top: 20px;
  align-self: center;
}

span {
  padding: 20px;
}